# https://help.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "daily"
    rebase-strategy: "disabled"
    target-branch: "release"
    open-pull-requests-limit: 10
    reviewers:
      - "dtoriki"
    labels:
      - "Зависимости"
    commit-message:
      prefix: ""
      include: "scope"
