<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="LoafThePenguin" value="https://nuget.pkg.github.com/LoafThePenguin/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="LoafThePenguin" />
      <add key="ClearTextPassword" value="%NUGET_REPOSITORY_TOKEN%" />
    </github>
  </packageSourceCredentials>
</configuration>
